<ion-header>
  <ion-toolbar>
    <ion-title>Available Table List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-filter (onFilterChange)="applyFilter($event)"></app-filter>

  <ion-list>
    <ion-card *ngFor="let table of tables$ | async">
      <ion-card-header>
        <ion-card-subtitle>Location: {{ table.location }}</ion-card-subtitle>
        <ion-card-title>Seats: {{ table.seats }}</ion-card-title>
      </ion-card-header>

      <div>
        <app-time-list [readonlyMode]="true" [time]="table.time"></app-time-list>
      </div>

      <ion-button [routerLink]="['reserve-table', table.id]">Reserve This Table</ion-button>
    </ion-card>
  </ion-list>
</ion-content>
