<ion-header>
  <ion-toolbar>
    <ion-title>Available Table List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-filter (onFilterChange)="applyFilter($event)"></app-filter>

  <ion-list>
    <ion-card *ngFor="let table of tables$ | async">
      <ion-card-header>
        <ion-card-subtitle>Location: {{ table.location }}</ion-card-subtitle>
        <ion-card-title>Seats: {{ table.seats }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>Available Time: 12:00</ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
