<ion-toolbar>
  <ion-title>Table Filer:</ion-title>
</ion-toolbar>

<ion-list>
  <ion-item>
    <ion-label>Seats</ion-label>
    <ion-select [(ngModel)]="selectedSeats" (ionChange)="applyFilter()" placeholder="Select number of sits">
      <ion-select-option *ngFor="let seat of seats" [value]="seat">{{ seat }}</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item>
    <ion-label>Select Time</ion-label>
    <ion-list>
      <ion-item>
        <ion-select [(ngModel)]="selectedTime" (ionChange)="applyFilter()" placeholder="Available Time">
          <ion-select-option *ngFor="let timeRangeItem of timeRange" [value]="timeRangeItem">{{ timeRangeItem }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-item>
</ion-list>

<ion-item>
  <ion-button size="expand" slot="end" (click)="resetFilter()">Reset Filter</ion-button>
</ion-item>
